@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('/src/font/Ubuntu/Ubuntu-Bold.ttf');
}

@font-face {
  font-family: 'Ubuntu-BoldItalic';
  src: url('/src/font/Ubuntu/Ubuntu-BoldItalic.ttf');
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('/src/font/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('/src/font/Ubuntu/Ubuntu-Medium.ttf');
}

body{
  margin: 0;
  background-color: #bbb9b9;
}

::-webkit-scrollbar {
  width: 5px; /* ширина вертикальной полосы прокрутки */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* цвет фона трека */
}

::-webkit-scrollbar-thumb {
  background: #888; /* цвет полосы прокрутки */
  border-radius: 5px; /* скругление углов полосы прокрутки */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* цвет полосы прокрутки при наведении */
}

.header {
  display: flex;
  justify-content: space-between;
}


.members{
    display: flex;
    width: 43.26px;
    height: 23px;
    margin-top: 49px;
}

.setting{
    display: flex;
    margin-top: 30px;
}



.women{
    display: flex;
    width: 58px;
    height: 23px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000000;
    font-family: Ubuntu-BoldItalic;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.7px; 
    text-transform: capitalize;
    margin-left: 50px;
}

.men{
    display: flex;
    width: 50px;
    height: 23px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000000;
    font-family: Ubuntu-BoldItalic;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.7px;
    text-transform: capitalize;
    margin-left: 50px;
}

.teen{
    display: flex;
    width: 65px;
    height: 23px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000000;
    font-family: Ubuntu-BoldItalic;
    font-size:30px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.7px; 
    text-transform: capitalize;
    margin-left: 50px;
}

.logoBlock{
  display: flex;
  width: 608px;
  height: 109px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 50px;
  margin-left: 600px;
}

.logo{
  color: #000;
  font-family: Ubuntu-Bold;
}

.userImage{
    margin-right: 15px;
}
.likesImageUser{
    margin-right: 15px;
}

.basketImage{
    margin-right: 15px;
}

/* Family.jsx style */

/* Family.css */
.blockFamily {
    display: flex;
    justify-content: space-between; /* Равномерное распределение блоков по горизонтали */
    align-items: initial; /* Возвращение выравнивания по вертикали в начальное состояние */
    border-top: 1px solid grey;
}

.blockCard {
  width: 100%; /* Карточки занимают всю ширину */
  margin-top: 10px;
}

/* Медиа-запрос для изменения стилей на более широких экранах (например, на ноутбуке) */
@media (max-width: 732px) {
  .blockFamily {
  display: flex;
  flex-direction: column; /* По умолчанию карточки будут столбцом */
  align-items: center; /* Центрирование по вертикали для мобильных устройств */
  margin-left: 700px;
  }

  .blockCard img {
    margin: 50px;
  }
}


/* ProductForm.css */
.product-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }

  /* ProductList.css */
  .product-list {
    text-align: center;
    margin-top: 20px;
    margin: 0 auto;
    font-family: Ubuntu-Regular;
  }

@media (max-width: 767px) {
  .imageProductList{
    margin: 50px 0px 0px 500px;
  }
  .nameProductList{
    margin: 0px 0px 0px 430px;
    width: 500px;
    font-size: 40px;
  }
  .sizesProductList{
    margin: 0px 0px 0px 430px;
    width: 500px;
    font-size: 35px;
  }
  .priceProductList{
    margin: 0px 0px 0px 430px;
    width: 500px;
    font-size: 35px;
  }
}
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media (max-width: 767px) {
    .cards-container {
      margin: 0px 0px 0px 10px;
    }
    .product-card {
    width: 100%;
    height: 100%;
    }
  }
  
  .product-card {
    width: 350px;
    height: 610px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
  }
  
  .product-details {
    margin-top: 10px;
  }
  

/* LoginForm.jsx */
.formForLoginUser{
  display: flex;
  justify-content: center;
}

.login-form-container {
  background-color: #000;
  color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  border: none;
  outline: none;
  font-family: Ubuntu-Medium;
}

.login-form input:focus {
  outline: none;
  border: none;
}


label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
  margin: 0px 0px 0px 60px;
  font-family: Ubuntu-Medium;
}

.login-button:hover {
  background-color: #0056b3;
}

/* AddProductForm.jsx */

.add-product-form-container {
  background-color: black;
  padding: 20px;
  height: 100vh;
  color: white;
}

.form-label {
  display: block;
  margin: 10px auto;
  width: 50%;
  font-family: Ubuntu-Medium;
}

.productName {
  width: 100%;
  padding: 8px;
  border: 2px solid #00f;
  border-radius: 4px;
  background-color: black;
  color: white;
  transition: border-color 0.3s ease; /* Add transition for smooth effect */

}

.productName:focus {
  border-color: #00f; /* Change border color on focus */
  outline: none; /* Remove the default focus outline */
}
.price {
  width: 100%;
  padding: 8px;
  border: 2px solid #00f;
  border-radius: 4px;
  background-color: black;
  color: white;
  transition: border-color 0.3s ease; /* Add transition for smooth effect */

}

.price:focus {
  border-color: #00f; /* Change border color on focus */
  outline: none; /* Remove the default focus outline */
}

.image {
  width: 100%;
  padding: 8px;
  border: 2px solid #00f;
  border-radius: 4px;
  background-color: black;
  color: white;
  transition: border-color 0.3s ease; /* Add transition for smooth effect */

}

.image:focus {
  border-color: #00f; /* Change border color on focus */
  outline: none; /* Remove the default focus outline */
}

.sizes {
  width: 100%;
  padding: 8px;
  border: 2px solid #00f;
  border-radius: 4px;
  background-color: black;
  color: white;
  transition: border-color 0.3s ease; /* Add transition for smooth effect */

}

.sizes:focus {
  border-color: #00f; /* Change border color on focus */
  outline: none; /* Remove the default focus outline */
}

.department {
  width: 100%;
  padding: 8px;
  border: 2px solid #00f;
  border-radius: 4px;
  background-color: black;
  color: white;
  transition: border-color 0.3s ease; /* Add transition for smooth effect */

}

.department:focus {
  border-color: #00f; /* Change border color on focus */
  outline: none; /* Remove the default focus outline */
}

.form-input.error {
  border-color: red; /* Change border color for error state */
}


.error-message {
  color: red;
  margin: 0 50%;
  width: 200px;
}

.submit-btn {
  background-color: #001f3f; /* Dark blue color */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 500px;
  margin: 10px 0px 0px 480px;
  font-family: Ubuntu-Medium;
  transition: background-color 0.3s ease; /* Add transition for smooth effect */
}

.userData{
  font-family: Ubuntu-Regular;
}

.submit-btn:hover {
  background-color: #003366; /* Darker blue color on hover */
}

 /* MainDisplayClothes(Kids, Men, Women) */
 .clothes-details {
  display: flex;
  font-size: 30px;
  width: 1400px;
  margin: 0px 0px 0px 20px;
}

.details{
  font-family: Ubuntu-Regular;
}


.clothes-details img {
  max-width: 40%;
  height: 700px;
  margin-right: 20px; /* Adjust the margin as needed */
}

.clothes-details h2 {
  margin-top: 0;
}

.clothes-details p {
  margin: 5px 0;
}

.button {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: -600px 0px 0px 600px;
}

.grey-button {
  background-color: rgb(84, 83, 87);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  height: 80px;
  width: 300px;
  border-radius: 20px;
  margin: 500px 0px 0px 0px;
  border: none;
  font-family: Ubuntu-Medium;
}

.black-button {
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  height: 15px;
  width: 300px;
  border-radius: 20px;
  border: none;
  margin: 500px 0px 0px 500px;
  text-align: center;
  text-decoration: none;
  padding: 30px 0px;
  font-family: Ubuntu-Medium;
}

@media (max-width: 700px) {
  .black-button{
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  height: 30px;
  width: 700px;
  border-radius: 20px;
  font-size: 30px;
  border: none;
  margin: 500px 0px 0px 300px;
  text-align: center;
  text-decoration: none;
  padding: 30px 0px;
  font-family: Ubuntu-Medium;
  }
  .nameProductDetails{
    font-size: 70px;
  }
  .priceProductDetails{
    font-size: 50px;
  }
  .sizesProductDetails{
    font-size: 50px;
  }
}

.cartss {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 12px;
}

/* MainClothes.jsx */

.imageMainClothes{
  width: 100%;
}

/* Shopping.jsx */

.blockBag{
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 70%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin: 1px auto;
  margin-bottom: 20px;
  font-family: Ubuntu-Regular;
}

.priceProduct{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sizesProduct{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ShoppinBag.jsx */

.imageBasket{
  width: 200px;
  height: 200px;
  padding: 10px;
}

.quantity{
  width: 60px;
  margin: auto 0;
}

.productNameBg {
  margin: auto 0;
  width: 500px;
  height: 100px;
  box-sizing: border-box;
}

.plus{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
}

.number{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.minus{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;

}

.priceProduct{
  width: 80px;
}

.priceProduct{
  font-size: 20px;
}

.productNameBg{
  margin: auto 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order{
  display: flex;
  justify-content: space-between;
}

.h2RevieModalContent{
  font-family: Ubuntu-BoldItalic;
}

.review-modal{
  font-family: Ubuntu-Regular;
}

.nameUserBag{
  width: 400px;
  border-bottom: 1px solid gray ;
}

.nameUserOrderProduct{
  width: 400px;
  padding: 40px 0px 0px 10px;
  border-bottom: 1px solid gray ;
}

.telephoneUserBag{
  width: 400px;
  border-bottom: 1px solid gray ;
}

.telephoneProductSizes{
  width: 400px;
  padding: 40px 0px 0px 10px;
  border-bottom: 1px solid gray ;
}

.inputNameUserBag{
  width: 380px;
  outline: none;
  border: none;
  background-color: #bbb9b9;
}

.inputUserOrderProduct{
  width: 380px;
  outline: none;
  border: none;
  background-color: #bbb9b9;
  display: none;
}

.inputTelephoneUserBag{
  width: 380px;
  outline: none;
  border: none;
  background-color: #bbb9b9;
}

.inputProductSizes{
  width: 380px;
  outline: none;
  border: none;
  background-color: #bbb9b9;
  display: none;
}

.basketBag{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Ubuntu-Medium;
 
}

@media (max-width: 700px) {
  .basketBag{
    margin: 30px 0px 0px 500px;
    font-size: 60px;
  }
  .clearBasketBag{
    margin: 0px 0px 0px 500px;
    font-size: 30px;
  }
  .imageMainOrder{
    width: 30%;
  }
  .blockBag{
    display: flex;
    justify-content: space-between;
    width: 330%;
    height: 70%;
    margin: 10px 0px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin: 1px auto;
    margin-bottom: 20px;
    font-family: Ubuntu-Regular;
  }
  .productNameBg{
    font-size: 50px;
  }
  .plus{
    font-size: 80px;
  }
  .minus{
    font-size: 80px;
  }
  .number{
    font-size: 80px;
  }
  .priceProduct{
    font-size: 50px;
  }
  .sizesProduct{
    font-size: 50px;
  }
  .add-product-form-container{
    width: 300%;
    height: 3000px;
  }
  .form-label{
    font-size: 40px;
  }
  .productName{
    font-size: 40px;
  }
  .error-message{
    font-size: 30px;
    width: 300px;
    margin: 0px 0px 0px 550px;
  }
  .price{
    font-size: 40px;
  }
  .sizes{
    font-size: 40px;
  }
  .department{
    font-size: 40px;
  }
  .submit-btn{
    height: 60px;
    width: 350px;
    font-size: 30px;
    margin: 0px 0px 0px 500px;
  }
}

.clearBasketBag{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Ubuntu-Regular;
  
}

.ordering{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid black;
  width: 30%;
}

.delete{
  cursor: pointer;
}

.feedbackBag{
  width: 80%;
  background-color: #bbb9b9;
}

.orderButtonBag{
  width: 80%;
  font-family: Ubuntu-Medium;
  border-radius: 20px;
}

.mainOrder{
  width: 95%;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .mainOrder{
    width: 330%;
    margin: 200px 0px 0px 10px;
  }
  .ordering{
    font-size: 40px;
    width: 500px;
  }
  .userData{
    font-size: 30px;
  }
  .delivery{
    font-size: 30px;
  }
  .h2Payment{
    font-size: 45px;
  }
  .feedbackBag{
    font-size: 30px;
  }
  .feedbackBagDiv{
    width: 800px;
  }
  .inputNameUserBag{
    font-size: 30px;
  }

  .inputTelephoneUserBag{
    font-size: 30px;
  }
  .deliveryLabel{
    font-size: 20px;
  }
  .orderButtonBag{
    font-size: 40px;
  }

  .reviewsDivBag{
    margin: 0px 500px;
  }

  .reviewsDivBag button{
    margin: 170px 0px 0px 0px;
    height: 70px;
    font-size: 30px;
  }
 .inputTextRevieModalContent{
  font-size: 30px;
 }
 .inputTelRevieModalContent{
  font-size: 30px;
 }
 .downloadImage{
  font-size: 30px;
 }
 .buttonClose{
  font-size: 34px;
 }
 .buttonOpen{
  font-size: 34px;
}
.selectedImage{
  width: 200px;
  height: 200px;
}
}

.delivery{
  font-family: Ubuntu-Regular;
}


.deliveryLabel{
 border: 1px solid grey;
 border-top: none;
 border-left: none;
 border-right: none;
 outline: none;
 width: 250px;
 height: 40px;
 background-color: #bbb9b9;
}

.deliveryArea{
 border: 1px solid grey;
 border-top: none;
 border-left: none;
 border-right: none;
 outline: none;
 width: 250px;
 height: 40px;
}

.deliveryCity{
  border: 1px solid grey;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  width: 250px;
  height: 40px;
  background-color:  #bbb9b9;;
}

.deliveryDepart{
  border: 1px solid grey;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  width: 250px;
  height: 40px;
}

.pay{
  width: 400px;
}

.inputPay{
  display: flex;
  justify-content: space-between;
  font-family: Ubuntu-Regular;
  font-size: 15px;
}

.inputPayNow{
  display: flex;
  justify-content: space-between;
  font-family: Ubuntu-Regular;
}

.labelPay{
  width: 300px;
  
}

.labelPayNow{
  width: 300px;
}

.feedbackBag{
  outline: none;
  border: none;
  width: 350px;
}

.feedbackBagDiv{
  width: 400px;
  border-bottom: 1px solid gray;
}

.orderButtonBag{
  border: none;
  width: 500px;
  height: 60px;
  background-color: #000;
  color: white;
  margin: 20px 0px 20px;
}

.reviewsDivBag{
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.reviewsButtonBag{
  width: 300px;
  height: 60px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 20px;
  font-family: Ubuntu-Medium;
}

.review-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: white;
  box-shadow: 0 0 1000px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.review-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.buttonsBag {
  display: flex;
}

.buttonClose{
  height: 70px;
  width: 250px;
  background-color: grey;
  border: none;
  font-family: Ubuntu-Medium;
}

.buttonOpen{
  height: 70px;
  width: 250px;
  background-color: black;
  border: none;
  color:  white;
  font-family: Ubuntu-Medium;
}


.inputTextRevieModalContent{
  border: none;
  outline: none;
  border-bottom:2px solid grey ;
  width: 89%;
  margin: 0px 0px 0px 10px;
}

.inputTelRevieModalContent{
  border: none;
  outline: none;
  border-bottom:2px solid grey ;
  width: 89%;
  margin: 0px 0px 0px 10px;
}

.pRevieModalContent{
  margin: -50px 0px;
  font-size: 20px;
  color: gray;
  padding: 0px 0px 0px 10px;
  margin: 10px 0px;
}

.h2RevieModalContent{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 0px 10px;
  border-bottom: 3px solid rgb(74, 71, 71);
  width: 50%;  
}

.downloadImageBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin: 5px 0px -10px 0px;
}


/* Footer.jsx */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 100px 20px; /* Оставьте отступы по вашему усмотрению */
}

.box{
  height: 900px;
}


.publicNetworkImg {
  display: flex;
  justify-content: space-between;
}

.catalog,
.infoBlockFooter,
.publicNetwork {
  font-family: Ubuntu-Regular;
  margin-bottom: 20px;
}

.feedbackBlock {
  background-color: #000;
  color: white;
}

.h1FeedbackBlock {
  margin: 0;
}

/* Медиа-запрос для устройств с максимальной шириной 600px */
@media only screen and (max-width: 1000px) {
  .footer {
    justify-content: space-between;
    margin-left: 120px;
    width: 1200px;
    margin-top: 900px; /* Прижимаем футер к низу */
    font-size: 30px;
  }
  
  .catalog,
  .infoBlockFooter,
  .publicNetwork {
    margin-bottom: 0; /* Убираем отступы между блоками на телефонах */
  }
}


/* menClothes.jsx */

.menClothes{
  margin: 50px 0px 0px 93px;
  font-size: 50px;
  width: 600px;
  font-family: Ubuntu-Bold;
}

.womenClothes{
  margin: 50px 0px 0px 66px;
  font-size: 50px;
  width: 600px;
  font-family: Ubuntu-Bold;
}

.kidsClothes{
  margin: 50px 0px 0px 66px;
  font-size: 50px;
  width: 600px;
  font-family: Ubuntu-Bold;
}